<section id="tournaments-games">
	<div class="overlay wrapper" style="padding-bottom: 320px">
		<div class="container wow fadeInUp">
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-9 col-sm-8">
					<div class="section-header text-center">
						<h2 class="title">Tournaments <span>BETA</span></h2>
						<p>Sign up for a tournament below and compete for cash prizes and credits</p>
					</div>
				</div>
			</div>
			<button (click)="openFilters()" type="button" class="cmn-btn-alt cmn-btn next-btn filters">
				Filter<img src="assets/home/images/double-right.png" alt="image">
			</button>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
					<div class="row">
						<div class="col-lg-12">
							<div class="row all-tournaments">
								<div class="col-md-6 col-lg-4 tournament-wrapper" *ngFor="let tournament of tournaments; let i = index">
									<div class="tournament-card">
										<img [src]="imgTournament(tournament)" alt="">
										<div class="info-wrapper">
											<div class="info-bg"></div>
											<div class="info">
												<div class="entry-wrapper" *ngIf="tournament.entry > 0; then thenBLock else elseBlock"></div>
												<ng-template #thenBLock>
													<h2 class="entry">${{ tournament.entry }}</h2>
													<span class="entry-for">/DIVISION</span><br>
												</ng-template>
												<ng-template #elseBlock>
													<h2 class="entry">FREE</h2>
												</ng-template>
												<h5>PRIZE: $25</h5>
												<a [routerLink]="'tournaments/' + tournament.id + '/results'" class="btn-view-prizes"><span>RESULTS</span></a>
												<p class="text">
													MODE <span class="hight-light">DUOS</span> | LENGTH 1H:30M <br>
													START TIME <span class="hight-light">{{ tournament.hours + tournament.ampm }} EST</span> | SCORING BEST 2 GAMES <br>
													TEAMS/DIVISION <span class="hight-light"></span>
												</p>
												<button class="register" (click)="registerTournament(i)"><span>REGISTER NOW</span></button>
												<span class="register-ends">REGISTRATION ENDS IN <app-count-down [date]="tournament.start.toString()"></app-count-down></span>
												<span class="register-begins"><span class="hight-light">BEGIN</span> ON {{ tournament.start.getDate() }} | {{ tournament.start.getMonth() + 1 }} | {{ tournament.start.getFullYear() }}</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Tournaments Game In end -->
<footer id="footer-section" style="margin-top: 0">
	<div class="overlay">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="footer-top pt-120" style="padding-top: 40px; padding-bottom: 40px; background-image: url('assets/home/images/background.png'); position: relative; overflow: hidden;">
						<img class="footer-image" src="assets/home/images/footer-left-top.png" alt="" style="position: absolute; bottom: 0; left: 0; height: 90%;">
						<img class="footer-image" src="assets/home/images/footer-right-top.png" alt="" style="position: absolute; bottom: 0; right: 0; height: 90%;">
						<div class="row justify-content-center">
							<div class="col-lg-6 col-md-6 col-sm-10">
								<div class="section-header text-center">
									<h2 class="title" style="color: #42F8FF">CONTACT US</h2>
									<p>Feel free to send us a message about an issue or simply comment/suggest something!</p>
								</div>
								<form action="#" style="color: white;">
									<div class="row" style="font-family: 'Chakra Petch', sans-serif;">
										<div class="col-md-6">
											<div class="form-group">
												<label for="Name">First Name <span style="color: red">*</span></label>
												<input type="text" class="form-control ganio-input">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label for="Name">Last Name <span style="color: red">*</span></label>
												<input type="text" class="form-control ganio-input">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label for="Name">Email <span style="color: red">*</span></label>
												<input type="text" class="form-control ganio-input">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label for="Name">Discord Username</label>
												<input type="text" class="form-control ganio-input">
											</div>
										</div>
									</div>
									<div class="form-group">
										<label for="Name">Message/Content <span style="color: red">*</span></label>
										<textarea class="form-control ganio-input" cols="30" rows="3"></textarea>
									</div>
									<button class="cmn-btn">Submit</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom-area pt-120">
				<div style="text-align: center;">
					<div class="logo-section">
						<a class="site-logo site-title" href="index.html"><img src="assets/home/images/ez-logo.png" alt="site-logo"></a>
					</div>
					<div class="social-area d-flex" style="margin-top: 20px; justify-content: center;">
						<a href="https://twitter.com/ezbattles"><img src="assets/home/images/social-bg1.png" alt="image"></a>
						<a href="https://www.instagram.com/ezbattles/"><img src="assets/home/images/social-bg2.png" alt="image"></a>
						<a href="https://discord.gg/GmyGB6RKUZ"><img src="assets/home/images/social-bg3.png" alt="image"></a>
						<a href="https://www.facebook.com/ezbattlesusa"><img src="assets/home/images/social-bg4.png" alt="image"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="main-content">
				<div class="row d-flex justify-content-center">
					<div class="col-lg-8 col-md-8 col-sm-12 d-flex justify-content-start align-items-center justify-cen order-pro">
						<div class="left-area">
							<p>
								COPYRIGHT © EZ BATTLES, LLC 2022 | DESIGNED BY EZ BATTLES, LLC. ALL RIGHTS RESERVED.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
