<div class="row mb-cus">
	<div class="col-lg-3 col-md-3 col-sm-4">
		<select>
			<option>Upcoming</option>
			<option>Upcoming 2</option>
			<option>Upcoming 3</option>
			<option>Upcoming 4</option>
		</select>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-4">
		<select>
			<option>Select Team Size</option>
			<option>1</option>
			<option>2</option>
			<option>3</option>
		</select>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-4">
		<select>
			<option>Select Entry Fee</option>
			<option>1</option>
			<option>2</option>
			<option>3</option>
		</select>
	</div>
</div>
