.slider {

	width: 70%;
	margin: 0 auto;
	text-align: center;

	.slides {

		overflow: hidden;
		scroll-behavior: smooth;

		div {

			width: 50%;
			flex-shrink: 0;
			display: flex;
			align-items: center;
		}

		div:nth-child(even){

			padding-left: 10px;
		}

		div:nth-child(odd){

			padding-right: 10px;
		}

		div img {

			width: 100%;
		}
	}
}
