<div style="padding-top: 200px">
	<div class="slider" #slider>
		<h1>Hello world</h1>
		<div class="slides" id="slides" fxLayout="row">
			<div>
				<img src="assets/home/images/featured1.png" alt="">
			</div>
			<div>
				<img src="assets/home/images/featured2.png" alt="">
			</div>
			<div>
				<img src="assets/home/images/featured3.png" alt="">
			</div>
			<div>
				<img src="assets/home/images/featured4.png" alt="">
			</div>
			<div>
				<img src="assets/home/images/featured5.png" alt="">
			</div>
			<div>
				<img src="assets/home/images/featured1.png" alt="">
			</div>
			<div>
				<img src="assets/home/images/featured2.png" alt="">
			</div>
			<div>
				<img src="assets/home/images/featured3.png" alt="">
			</div>
		</div>
	</div>
	<button type="button" (click)="scrollLeft()">Test</button>
</div>

