<div class="register-wrapper" fxLayout="row" fxLayoutAlign="center center">
	<mat-card fxFlex.lg="40" fxFlex.md="40" fxFlex.sm="60" fxFlex.xs="80">
		<mat-card-title>Register</mat-card-title>
		<form [formGroup]="registerForm" (submit)="register()" [style.width]="'100%'">
			<mat-card-content fxLayout="column">
				<mat-form-field [style.width]="'100%'" appearance="fill">
					<mat-label>Email</mat-label>
					<input formControlName="email" matInput>
				</mat-form-field>
				<div fxLayout="row" fxLayoutAlign="space-between center">
					<mat-form-field [style.width]="'80%'" appearance="fill">
						<mat-label>Nickname</mat-label>
						<input formControlName="nickname" matInput>
					</mat-form-field>
					<button mat-raised-button color="primary" (click)="checkNickname()">Check</button>
				</div>
				<mat-form-field [style.width]="'100%'" appearance="fill">
					<mat-label>Password</mat-label>
					<input formControlName="password" matInput type="password">
				</mat-form-field>
			</mat-card-content>
			<mat-card-actions>
				<button type="submit" mat-button>Register</button>
				<a routerLink="/login" mat-button>Login</a>
			</mat-card-actions>
		</form>
	</mat-card>
</div>
