<div mat-dialog-content>
  <mat-card>
		<mat-card-header>
			<mat-card-title>Login</mat-card-title>
		</mat-card-header>
		<form [formGroup]="loginForm">
			<mat-card-content fxLayout="column">
					<mat-form-field appearance="fill">
						<mat-label>Email</mat-label>
						<input formControlName="email" matInput>
					</mat-form-field>
					<mat-form-field appearance="fill">
						<mat-label>Password</mat-label>
						<input formControlName="password" type="password" matInput>
					</mat-form-field>
			</mat-card-content>
			<mat-card-actions>
				<button type="submit" mat-button (click)="login()">Login</button>
			</mat-card-actions>
		</form>
	</mat-card>
</div>
