<!-- banner-section start -->
<section id="banner-section">
	<div class="banner-content d-flex align-items-center">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-10">
					<div class="main-content">
						<div class="top-area justify-content-center text-center">
							<h1>MAKE MONEY <br><span>GAMING</span></h1>
							<p>Bringing gamers to the metaverse</p>
							<button class="cmn-btn-alt cmn-btn" (click)="register()">REGISTER NOW</button><br>
							<a href="#" (click)="goTo('tournaments-games', $event)" style="background: #42F8FF; color: black" class="cmn-btn">
								VIEW TOURNAMENTS
							</a><br>
							<!-- <a href="https://discord.com/invite/GmyGB6RKUZ" style="margin-top: 0" class="cmn-btn">
								Join Discord
							</a> -->
						</div>
						<div class="row justify-content-center">
							<div class="col-lg-12">
								<div class="ani-img">
									<img class="cir-1" src="assets/home/images/coin-2.png" alt="circle">
									<img class="cir-2" src="assets/home/images/coin-1.png" alt="circle">
									<img class="cir-3" src="assets/home/images/coin-4.png" alt="circle">
									<img class="cir-4" src="assets/home/images/coin-3.png" alt="circle">
								</div>
								<div class="row justify-content-center">
									<div class="col-lg-6">
										<div class="bottom-area text-center">
											<img src="assets/home/images/ez-battles-header.png" alt="banner-circle">
										</div>
									</div>
								</div>
								<div class="ani-illu">
									<img class="left-1 wow fadeInUp" src="assets/home/images/banner-left-obj.png" alt="image">
									<img class="right-2 wow fadeInUp" src="assets/home/images/banner-right-obj.png" alt="image">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="bottom-item">
					<div class="row">
						<div class="col-lg-4 col-md-6">
							<div class="single-item d-flex">
								<div class="left-area align-items-center">
									<img src="assets/home/images/banner-bottom-1.png" alt="image">
								</div>
								<div class="right-area">
									<h4>PLAY</h4>
									<p>Play in tournament and wager against other players.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="single-item d-flex">
								<div class="left-area align-items-center">
									<img src="assets/home/images/banner-bottom-2.png" alt="image">
								</div>
								<div class="right-area">
									<h4>WIN</h4>
									<p>Crypto and cash from playing and competing at EZ battles.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="single-item d-flex">
								<div class="left-area align-items-center">
									<img src="assets/home/images/banner-bottom-3.png" alt="image">
								</div>
								<div class="right-area">
									<h4>EARN</h4>
									<p>Your EZ bucks or prize money from challenges and tournaments.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- banner-section end -->
<section id="slider">
	<div class="overlay pb-120 pt-120">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-lg-6 col-md-9 col-sm-8">
					<div class="section-header">
						<h2 class="title">FEATURED GAMES</h2>
						<p>Compete in your favorite titles and earn cash/cryptocurrency</p>
					</div>
				</div>
				<div
					class="col-lg-3 col-md-3 col-sm-4 d-flex align-items-center justify-content-center justify-content-sm-end">
					<div class="right-area" style="margin-bottom: 20px">
						<a href="#" (click)="goTo('tournaments-games', $event)" class="cmn-btn-alt cmn-btn">See tournaments <img src="assets/home/images/double-right.png"
						alt="image"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="slider" #slider>
		<div class="slides" id="slides" fxLayout="row">
			<div>
				<img src="assets/home/images/featured1.png" alt="">
			</div>
			<div>
				<img src="assets/home/images/featured2.png" alt="">
			</div>
			<div>
				<img src="assets/home/images/featured3.png" alt="">
			</div>
			<div>
				<img src="assets/home/images/featured4.png" alt="">
			</div>
			<div>
				<img src="assets/home/images/featured5.png" alt="">
			</div>
			<div>
				<img src="assets/home/images/featured6.png" alt="">
			</div>
			<div>
				<img src="assets/home/images/featured7.png" alt="">
			</div>
			<div>
				<img src="assets/home/images/featured1.png" alt="">
			</div>
		</div>
	</div>
	</div>
</section>
<!-- Tournaments Games In start -->
<section id="tournaments-games" style="background: #0D0D48;">
	<div class="overlay pt-120 pb-120">
		<div class="container wow fadeInUp">
			<div class="row justify-content-between">
				<div class="col-lg-6 col-md-6">
					<div class="section-header">
						<h2 class="title">Upcoming Tournaments</h2>
						<p>Gather the squad and deploy for some cash, sign up now to get winning</p>
					</div>
				</div>
				<div class="col-lg-5 col-md-5 d-flex align-items-center justify-content-end justify-cen">
					<div class="right-area" style="margin-bottom: 20px">
						<a href="https://discord.gg/GmyGB6RKUZ" class="cmn-btn-alt cmn-btn">Discord <img
						src="assets/home/images/double-right.png" alt="image"></a>
						<a href="#" (click)="goTo('tournaments-games', $event)" class="cmn-btn-alt cmn-btn" style="margin-left: 5px; margin-top: 10px">Tournaments <img
						src="assets/home/images/double-right.png" alt="image"></a>
					</div>
				</div>
			</div>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
					<div class="row">
						<div class="col-lg-12">
							<div class="all-items">
								<div class="single-item" *ngFor="let tournament of tournaments; let i = index">
										<div class="content-area">
												<img [src]="imgTournament(tournament)" alt="image">
												<div class="grid-style">
														<h5 class="head-area">{{ tournament.name }}</h5>
														<div class="prize d-flex justify-content-center">
																<img src="assets/home/images/prize-icon.png" alt="image">
																<h5>€6,000</h5>
														</div>
														<p class="bet">Min. bet <span>€0.20</span></p>
														<button type="button" class="cmn-btn-second" (click)="registerTournament(i)">View Tournament</button>
														<p class="end-on">Will start on: <span>{{ tournament.start }}</span></p>
														<p class="end-on">Will end on: <span>{{ tournament.end }}</span></p>
												</div>
										</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Tournaments Game In end -->
<!-- Level up In start -->
<section id="level-up-section">
	<div class="overlay pt-120 pb-120">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6">
					<div class="left-area d-flex justify-content-lg-center">
						<img src="assets/home/images/level-up-left.png" alt="image">
					</div>
				</div>
				<div class="col-lg-6 d-flex align-items-center">
					<div class="container wow fadeInUp">
						<div class="row">
							<div class="col-lg-10 align-items-center right-area">
								<div class="section-header">
									<h2 class="title">EZ Apes: Game into the metaverse</h2>
									<p>5,555 EZ Ape NFT’s designed to bring huge benefits to users that hold them! Read more and invest!</p>
									<div>
										<a href="assets/white-paper.pdf" class="cmn-btn-alt cmn-btn">Whitepaper <img
										src="assets/home/images/double-right.png" alt="image"></a>
										<a routerLink="our-nft" class="cmn-btn-alt cmn-btn" style="margin-left: 5px; margin-top: 10px">NFT INFO<img
										src="assets/home/images/double-right.png" alt="image"></a>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12 d-flex justify-content-between">
										<div class="single-item">
											<img src="assets/home/images/1.Enjoy-discounts.png" alt="image">
											<h6>Enjoy discounts</h6>
										</div>
										<div class="single-item">
											<img src="assets/home/images/2.Exclusive-tournaments.png" alt="image">
											<h6>Exclusive tournaments</h6>
										</div>
										<div class="single-item">
											<img src="assets/home/images/3.Meet-streamers.png" alt="image">
											<h6>Meet streamers</h6>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Level up In end -->
<!-- Todays winner In start -->
<section id="todays-winner-section" class="home">
	<div class="overlay pt-120 pb-120">
		<div class="container wow fadeInUp">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6 d-grid align-items-center">
					<div class="section-header">
						<h2 class="title">Live Results, <span>Fast Payouts</span></h2>
						<a href="#" (click)="goTo('tournaments-games', $event)" class="cmn-btn-alt cmn-btn">
						Start Playing!
						</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 d-flex align-items-end jus-end">
					<div class="mid-area">
						<img src="assets/home/images/trophy1.png" alt="image">
					</div>
				</div>
				<div class="col-lg-6">
					<div class="title-area">
						<img src="assets/home/images/ribbon.png" alt="image">
						<h5>Live Scoreboard</h5>
					</div>
					<div class="winner-chart">
						<span class="ribbon">Top Winner</span>
						<div class="single-item d-flex justify-content-between align-items-center">
							<div class="left-area d-flex align-items-center">
								<img src="assets/home/images/win-1.png" class="pos" alt="image">
								<a href="javascript:void(0)" class="name-area d-flex align-items-center">
									<img src="assets/home/images/member-1.png" alt="image">
									<h6>Bessie Cooper</h6>
								</a>
							</div>
							<div class="win-price">
								<span>+</span>
								<span>56</span>
								<span class="cur">Pts</span>
								<span><img src="assets/home/images/double-right-alt.png" alt="image"></span>
							</div>
						</div>
						<div class="single-item d-flex justify-content-between align-items-center">
							<div class="left-area d-flex align-items-center">
								<img src="assets/home/images/win-2.png" class="pos" alt="image">
								<a href="javascript:void(0)" class="name-area d-flex align-items-center">
									<img src="assets/home/images/member-2.png" alt="image">
									<h6>Jerome Bell</h6>
								</a>
							</div>
							<div class="win-price">
								<span>+</span>
								<span>45</span>
								<span class="cur">Pts</span>
								<span><img src="assets/home/images/double-right-alt.png" alt="image"></span>
							</div>
						</div>
						<div class="single-item d-flex justify-content-between align-items-center">
							<div class="left-area d-flex align-items-center">
								<img src="assets/home/images/win-3.png" class="pos" alt="image">
								<a href="javascript:void(0)" class="name-area d-flex align-items-center">
									<img src="assets/home/images/member-3.png" alt="image">
									<h6>Darrell Steward</h6>
								</a>
							</div>
							<div class="win-price">
								<span>+</span>
								<span>32</span>
								<span class="cur">Pts</span>
								<span><img src="assets/home/images/double-right-alt.png" alt="image"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Todays winner In end -->
<!-- faq start -->
<section id="faq-section">
	<div class="overlay pt-120 pb-120">
		<div class="container">
			<div class="row justify-content-center text-center">
				<div class="col-lg-8">
					<div class="section-header">
						<h2 class="title">FREQUENTLY ASKED QUESTIONS</h2>
						<p>Do you have a question about us? Please contact us! We would love to answer your questions.</p>
					</div>
				</div>
			</div>
			<div class="row d-flex justify-content-center">
				<div class="col-lg-5 d-flex align-items-center cus-mb">
					<div class="left-area">
						<span>
							<img src="assets/home/images/faq-left.png" alt="image">
						</span>
					</div>
				</div>
				<div class="col-lg-7 wow fadeInUp">
					<div id="accordion-one">
						<div class="card">
							<div class="card-header" id="headingOne">
								<h6 class="mb-0">
								<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
								aria-expanded="true" aria-controls="collapseOne">
								Can I earn playing on EZ Battles?
								</button>
								</h6>
							</div>
							<div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
								data-parent="#accordion-one">
								<div class="card-body">
									<p>The short answer is yes. By participating in our tournaments and putting your skillset to the test, if you win a competition you will be prized in cash/crypto. Consistently winning can make you some money!</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingTwo">
								<h6 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse"
								data-target="#collapseTwo" aria-expanded="false"
								aria-controls="collapseTwo">
								Am I eligible to play tournament at EZ Battles?
								</button>
								</h6>
							</div>
							<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
								data-parent="#accordion-one">
								<div class="card-body">
									<p>To participate in tournaments with free entry and credit prizes, you must be 13 years or older. <br>To participate in tournaments with free entry and cash prizes, you must be 16 years or older and a legal resident of Australia, Austria, Belgium, Brazil, Canada, Chile, Colombia, Denmark, Finland, Germany, Greece, Ireland, Mexico, Netherlands, Peru, Portugal, South Africa, Spain, Sweden, UK, or United States* <br>To participate in tournaments requiring entry fees, you must be 18 years or older and a legal resident of Australia, Austria, Belgium, Brazil, Canada, Chile, Colombia, Denmark, Finland, Germany, Greece, Ireland, Mexico, Netherlands, Peru, Portugal, South Africa, Spain, Sweden, UK, or United States*<br>*U.S. residents of Arkansas, Delaware, Michigan, and Tennessee are not currently eligible for cash prize tournaments.</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingThree">
								<h6 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse"
								data-target="#collapseThree" aria-expanded="false"
								aria-controls="collapseThree">
								Are there any benefits other than money?
								</button>
								</h6>
							</div>
							<div id="collapseThree" class="collapse" aria-labelledby="headingThree"
								data-parent="#accordion-one">
								<div class="card-body">
									<p>EZ Battles is a platform not only to have shot at making money, but a place to better your skillset in free entry tournaments, socializing with others and streaming your own competitive edge for content in our challenges.</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingFour">
								<h6 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse"
								data-target="#collapseFour" aria-expanded="false"
								aria-controls="collapseFour">
								What is a challenge and how do I join one?
								</button>
								</h6>
							</div>
							<div id="collapseFour" class="collapse" aria-labelledby="headingFour"
								data-parent="#accordion-one">
								<div class="card-body">
									<p>Challenges are random events we will post at any given time to give users a fun little mission to earn some quick money! Competitors will be given a challenge and a ruleset to participate in free of cost!</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingFive">
								<h6 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse"
								data-target="#collapseFive" aria-expanded="false"
								aria-controls="collapseFive">
								How does EZ Battle collect game data?
								</button>
								</h6>
							</div>
							<div id="collapseFive" class="collapse" aria-labelledby="headingFive"
								data-parent="#accordion-one">
								<div class="card-body">
									<p>Our programming wizards have decided to keep this confidential.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- faq end -->
<!-- Team member In start -->
<section id="team-member" class="about" style="background: #0D0D48; padding-bottom: 260px;">
	<div class="overlay pt-120 pb-120">
		<div class="container wow fadeInUp">
			<div class="row">
				<div class="col-lg-12 justify-content-center d-flex">
					<div class="section-header text-center">
						<h2 class="title">THE EZ TEAM</h2>
						<p>A small team with big dreams</p>
					</div>
				</div>
			</div>
			<div class="row mb-cus">
				<div class="col-lg-3 col-md-3 col-sm-6 d-flex justify-content-center">
					<div class="single-item">
						<div class="img-area">
							<img src="assets/home/images/Sebastian-Salas.png" alt="image">
						</div>
						<div class="bottom-area">
							<h5>Sebastian Salas</h5>
							<p style="text-align: center;">Founder, CEO</p>
							<div class="social-area d-flex">
								<a href="https://twitter.com/Wundersalas"><img src="assets/home/images/social-bg1.png" alt="image"></a>
								<a href="https://www.facebook.com/addictedsalas1"><img src="assets/home/images/social-bg4.png" alt="image"></a>
								<a href="https://www.instagram.com/addictedsalas/"><img src="assets/home/images/social-bg2.png" alt="image"></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 d-flex justify-content-center">
					<div class="single-item">
						<div class="img-area">
							<img src="assets/home/images/Anthony.png" alt="image">
						</div>
						<div class="bottom-area">
							<h5>Anthony Ventura</h5>
							<p style="text-align: center;">Co-Founder</p>
							<div class="social-area d-flex">
								<a href="https://www.instagram.com/aventura_/"><img src="assets/home/images/social-bg2.png" alt="image"></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 d-flex justify-content-center">
					<div class="single-item">
						<div class="img-area">
							<img src="assets/home/images/Jetsil-Tovar.png" alt="image">
						</div>
						<div class="bottom-area">
							<h5>Jetsil Tovar</h5>
							<p style="text-align: center;">Creative Director</p>
							<div class="social-area d-flex">
								<a href="https://twitter.com/Jetsiltovar"><img src="assets/home/images/social-bg1.png" alt="image"></a>
								<a href="https://www.facebook.com/jet.graphicdesigner"><img src="assets/home/images/social-bg4.png" alt="image"></a>
								<a href="https://www.instagram.com/jetsiltovar/"><img src="assets/home/images/social-bg2.png" alt="image"></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 d-flex justify-content-center">
					<div class="single-item">
						<div class="img-area">
							<img src="assets/home/images/James.png" alt="image">
						</div>
						<div class="bottom-area">
							<h5>James Oswald</h5>
							<p style="text-align: center;">Tournament Director</p>
							<div class="social-area d-flex">
								<a href="https://twitter.com/SwiiNFTS"><img src="assets/home/images/social-bg1.png" alt="image"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row mb-cus" style="margin-top: 60px">
				<div class="col-lg-3 col-md-3 col-sm-6 d-flex justify-content-center">
					<div class="single-item">
						<div class="img-area">
							<img src="assets/home/images/Raphael-Ruiz.png" alt="image">
						</div>
						<div class="bottom-area">
							<h5>Raphael Ruiz</h5>
							<p style="text-align: center;">NFT Designer</p>
							<div class="social-area d-flex">
								<a href="https://twitter.com/RaphaelRuiz8"><img src="assets/home/images/social-bg1.png" alt="image"></a>
								<a href="https://www.facebook.com/profile.php?id=100010435272373"><img src="assets/home/images/social-bg4.png" alt="image"></a>
								<a href="https://www.instagram.com/octans_agency/"><img src="assets/home/images/social-bg2.png" alt="image"></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 d-flex justify-content-center">
					<div class="single-item">
						<div class="img-area">
							<img src="assets/home/images/James.png" alt="image">
						</div>
						<div class="bottom-area">
							<h5>Anthony Gonzalez</h5>
							<p style="text-align: center;">Software Developer</p>
							<div class="social-area d-flex">
								<a href="https://www.instagram.com/antgoarte/"><img src="assets/home/images/social-bg2.png" alt="image"></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 d-flex justify-content-center">
					<div class="single-item">
						<div class="img-area">
							<img src="assets/home/images/Jonathan-Bustos.png" alt="image">
						</div>
						<div class="bottom-area">
							<h5>Jonathan Bustos</h5>
							<p style="text-align: center;">Operations Manager</p>
							<div class="social-area d-flex">
								<a href="https://twitter.com/jalexisbutos"><img src="assets/home/images/social-bg1.png" alt="image"></a>
								<a href="https://www.instagram.com/ezbattles_alexis/"><img src="assets/home/images/social-bg2.png" alt="image"></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 d-flex justify-content-center">
					<div class="single-item">
						<div class="img-area">
							<img src="assets/home/images/Katherine-Habib.png" alt="image">
						</div>
						<div class="bottom-area">
							<h5>Katherine</h5>
							<p style="text-align: center;">Social Media Specialist</p>
							<div class="social-area d-flex">
								<a href="https://twitter.com/Kath_marketer"><img src="assets/home/images/social-bg1.png" alt="image"></a>
								<a href="https://www.facebook.com/katherine.habib.7"><img src="assets/home/images/social-bg4.png" alt="image"></a>
								<a href="https://www.instagram.com/kath.marketer/"><img src="assets/home/images/social-bg2.png" alt="image"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Team member In end -->
<!-- Footer Section start -->
<footer id="footer-section" style="margin-top: 0">
	<div class="overlay">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="footer-top pt-120" style="padding-top: 40px; padding-bottom: 40px; background-image: url('assets/home/images/background.png'); position: relative; overflow: hidden;">
						<img class="footer-image" src="assets/home/images/footer-left-top.png" alt="" style="position: absolute; bottom: 0; left: 0; height: 90%;">
						<img class="footer-image" src="assets/home/images/footer-right-top.png" alt="" style="position: absolute; bottom: 0; right: 0; height: 90%;">
						<div class="row justify-content-center">
							<div class="col-lg-6 col-md-6 col-sm-10">
								<div class="section-header text-center">
									<h2 class="title" style="color: #42F8FF">CONTACT US</h2>
									<p>Feel free to send us a message about an issue or simply comment/suggest something!</p>
								</div>
								<form action="#" style="color: white;">
									<div class="row" style="font-family: 'Chakra Petch', sans-serif;">
										<div class="col-md-6">
											<div class="form-group">
												<label for="Name">First Name <span style="color: red">*</span></label>
												<input type="text" class="form-control ganio-input">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label for="Name">Last Name <span style="color: red">*</span></label>
												<input type="text" class="form-control ganio-input">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label for="Name">Email <span style="color: red">*</span></label>
												<input type="text" class="form-control ganio-input">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label for="Name">Discord Username</label>
												<input type="text" class="form-control ganio-input">
											</div>
										</div>
									</div>
									<div class="form-group">
										<label for="Name">Message/Content <span style="color: red">*</span></label>
										<textarea class="form-control ganio-input" cols="30" rows="3"></textarea>
									</div>
									<button class="cmn-btn">Submit</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom-area pt-120">
				<div style="text-align: center;">
					<div class="logo-section">
						<a class="site-logo site-title" href="index.html"><img src="assets/home/images/ez-logo.png" alt="site-logo"></a>
					</div>
					<div class="social-area d-flex" style="margin-top: 20px; justify-content: center;">
						<a href="https://twitter.com/ezbattles"><img src="assets/home/images/social-bg1.png" alt="image"></a>
						<a href="https://www.instagram.com/ezbattles/"><img src="assets/home/images/social-bg2.png" alt="image"></a>
						<a href="https://discord.gg/GmyGB6RKUZ"><img src="assets/home/images/social-bg3.png" alt="image"></a>
						<a href="https://www.facebook.com/ezbattlesusa"><img src="assets/home/images/social-bg4.png" alt="image"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="main-content">
				<div class="row d-flex justify-content-center">
					<div class="col-lg-8 col-md-8 col-sm-12 d-flex justify-content-start align-items-center justify-cen order-pro">
						<div class="left-area">
							<p>
								COPYRIGHT © EZ BATTLES, LLC 2022 | DESIGNED BY EZ BATTLES, LLC. ALL RIGHTS RESERVED.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
