<div class="card">
	<div class="card-header">
		<img src="assets/home/images/ez-logo.png" class="card-logo" alt="">
	</div>
	<div class="card-content">
		<h5 style="text-align: center;">Email verification</h5>
		<p style="text-align: center;">Please check your email and verify your account</p>
		<p style="text-align: center;">FOLLOW US ON ALL SOCIALS</p>
		<div fxLayout="row" fxLayoutAlign="space-evenly center">
			<a href="https://twitter.com/ezbattles"><img src="assets/home/images/social-bg1.png" alt="image"></a>
			<a href="https://www.instagram.com/ezbattles/"><img src="assets/home/images/social-bg2.png" alt="image"></a>
			<a href="https://discord.gg/GmyGB6RKUZ"><img src="assets/home/images/social-bg3.png" alt="image"></a>
			<a href="https://www.facebook.com/ezbattlesusa"><img src="assets/home/images/social-bg4.png" alt="image"></a>
		</div>
	</div>
</div>

