<section style="padding-top: 167px; margin-bottom: 69px; position: relative;">
	<div class="banner-content d-flex align-items-center">
		<div class="container" fxLayout="row">
			<div fxFlex style="background: yellow;">
				<mat-card>
					<mat-card-header>
						<mat-card-title>Profile</mat-card-title>
					</mat-card-header>
					<form [formGroup]="profileForm" (submit)="save()">
						<mat-card-content>
							<div *ngIf="user">

								<span>Current nickname: {{ user.nickname }}</span>
							</div>
							<div>
								<mat-form-field fxFlex appearance="fill">
									<mat-label>Nickname</mat-label>
									<input type="text" formControlName="nickname" matInput>
								</mat-form-field>
								<button mat-raised-button color="primary" type="button" (click)="getCodUser()">Search</button>
							</div>
						</mat-card-content>
						<mat-card-actions>
							<button type="submit" mat-button>Save</button>
						</mat-card-actions>
					</form>
				</mat-card>
			</div>
			<div fxFlex style="background: red">
				<mat-card *ngIf="codUser">
					<mat-card-header>
						<mat-card-title>Cod Profile: {{ profileForm.value.nickname }}</mat-card-title>
					</mat-card-header>
					<mat-card-content>
						<mat-grid-list cols="2">
							<mat-grid-tile>
								<img [style.width]="'100%'" [style.border-radius]="'30px'" [src]="codUser.avatarUrl" alt="Photo of a Shiba Inu">
							</mat-grid-tile>
							<mat-grid-tile>
								<mat-card>
									<mat-card-content>
										<table>
											<thead>
												<tr>
													<th colspan="2"><h2>Stats</h2></th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Kills</td>
													<td>{{ codUser.kills }}</td>
												</tr>
												<tr>
													<td>Deaths</td>
													<td>{{ codUser.deaths }}</td>
												</tr>
												<tr>
													<td>KDRatio</td>
													<td>{{ codUser.kdRatio }}</td>
												</tr>
												<tr>
													<td>Win ratio</td>
													<td>{{ codUser.winRatio }}</td>
												</tr>
											</tbody>
										</table>
									</mat-card-content>
								</mat-card>
							</mat-grid-tile>
						</mat-grid-list>
					</mat-card-content>
				</mat-card>
			</div>
		</div>
	</div>
</section>
