<!-- banner-section start -->
<section id="banner-section" class="index-2 home-2">
	<div class="banner-content pt-120">
		<div class="container">
			<img src="assets/home/images/banner-illus.png" class="banner-side" alt="image">
			<div class="row">
				<div class="col-lg-8 col-md-9 pb-120">
					<div class="main-content pb-120">
						<div class="top-area">
							<h1>Battle, Win,Earn Live esports Contests</h1>
							<p>Play your favorite game, use the coin of your choice & chat with your friends.
							Simple, social and most importantly entertaining!</p>
							<button type="button" class="cmn-btn">
							Start Playing!
							</button>
						</div>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="bottom-item">
						<div class="container">
							<div class="bottom-content">
								<div class="row justify-content-center">
									<div class="col-lg-5">
										<div class="left-area">
											<h4>WINNERS</h4>
											<div class="banner-carousel">
												<a href="#" class="single-item">
													<img src="assets/home/images/winners-1.png" alt="image">
													<span>$100</span>
												</a>
												<a href="#" class="single-item">
													<img src="assets/home/images/winners-2.png" alt="image">
													<span>$100</span>
												</a>
												<a href="#" class="single-item">
													<img src="assets/home/images/winners-3.png" alt="image">
													<span>$100</span>
												</a>
												<a href="#" class="single-item">
													<img src="assets/home/images/winners-4.png" alt="image">
													<span>$100</span>
												</a>
												<a href="#" class="single-item">
													<img src="assets/home/images/winners-2.png" alt="image">
													<span>$100</span>
												</a>
												<a href="#" class="single-item">
													<img src="assets/home/images/winners-3.png" alt="image">
													<span>$100</span>
												</a>
											</div>
											<a href="winners.html" class="cmn-btn-second">View All Winner</a>
										</div>
									</div>
									<div class="col-lg-5 text-center">
										<div class="right-area">
											<h4>Tournament</h4>
											<h4 class="couter-area">
											<span>$</span>
											<span>2</span>
											<span>8</span>
											<span>3</span>
											<span>1</span>
											</h4>
											<a href="tournaments-details.html" class="cmn-btn-second">Join Now!</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- banner-section end -->
<!-- Jackpot In start -->
<section id="jackpot-section">
	<div class="overlay pt-120 pb-120">
		<div class="container">
			<div class="row justify-content-center">
				<h1>Hola mundo</h1>
				<div class="col-lg-8 text-center">
					<div class="right-area">
						<h3>TOTAL JACKPOT AMOUNT</h3>
						<h1 class="couter-area">
						<span>€</span>
						<span>4</span>
						<span>9</span>
						<span>6</span>
						<span>1</span>
						<span>4</span>
						<span>9</span>
						<span>1</span>
						</h1>
						<a href="javascript:void(0)" class="cmn-btn-second">Get Start Now!</a>
					</div>
				</div>
				<div class="col-lg-12 pt-120 jackpot-area">
					<div class="section-header">
						<h3>Jackpot</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Jackpot In end -->
<!-- Level up In start -->
<section id="level-up-section">
	<div class="overlay pt-120 pb-120">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6">
					<div class="left-area d-flex justify-content-lg-center">
						<img src="assets/home/images/level-up-left.png" alt="image">
					</div>
				</div>
				<div class="col-lg-6 d-flex align-items-center">
					<div class="container wow fadeInUp">
						<div class="row">
							<div class="col-lg-10 align-items-center right-area">
								<div class="section-header">
									<h2 class="title">EZ Apes: Game into the metaverse</h2>
									<p>5,555 EZ Ape NFT’s designed to bring huge benefits to users that hold them! Read more and invest!</p>
									<div>
										<a href="assets/white-paper.pdf" class="cmn-btn-alt cmn-btn">Whitepaper <img
										src="assets/home/images/double-right.png" alt="image"></a>
										<a routerLink="our-nft" class="cmn-btn-alt cmn-btn" style="margin-left: 5px; margin-top: 10px">What is NFT? <img
										src="assets/home/images/double-right.png" alt="image"></a>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12 d-flex justify-content-between">
										<div class="single-item">
											<img src="assets/home/images/1.Enjoy-discounts.png" alt="image">
											<h6>Enjoy discounts</h6>
										</div>
										<div class="single-item">
											<img src="assets/home/images/2.Exclusive-tournaments.png" alt="image">
											<h6>Exclusive tournaments</h6>
										</div>
										<div class="single-item">
											<img src="assets/home/images/3.Meet-streamers.png" alt="image">
											<h6>Meet streamers</h6>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Level up In end -->
<!-- Latest Activites In start -->
<section id="latest-activites-section" class="index-2">
	<div class="ani-div">
		<img class="obj-1" src="assets/home/images/star.png" alt="image">
		<img class="obj-2" src="assets/home/images/star.png" alt="image">
		<img class="obj-3" src="assets/home/images/star-2.png" alt="image">
	</div>
	<div class="overlay pt-120 pb-120">
		<div class="container wow fadeInUp">
			<div class="row justify-content-between">
				<div class="col-lg-6 col-md-6">
					<div class="section-header">
						<h2 class="title">JOIN THE WHITELIST</h2>
						<p>Join to guarantee a spot, save on mint day and earn exclusive benefits. Join our Discord and go to the #How-to-join-the-whitelist channel</p>
					</div>
				</div>
				<div class="col-lg-5 col-md-5 d-flex align-items-center justify-content-end justify-cen">
					<a href="https://discord.gg/GmyGB6RKUZ" class="cmn-btn-alt cmn-btn">Discord
						<img src="assets/home/images/double-right.png" alt="image">
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active" id="bets" role="tabpanel" aria-labelledby="bets-tab">
							<div class="table-responsive">
								<table class="table">
									<thead>
										<tr>
											<th class="text-start" scope="col">Game</th>
											<th scope="col">Player</th>
											<th scope="col">Wallet Address</th>
											<th scope="col">Payout</th>
											<th scope="col">Profit</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th scope="row"><a href="javascript:void(0)"><img src="assets/home/images/game-icon-1.png" alt="image">Fishing Disco</a></th>
											<td>Bessie Cooper</td>
											<td>30320267096</td>
											<td>0.70X</td>
											<td><img src="assets/home/images/table-icon-1.png" alt="image">+ 0.00312150</td>
										</tr>
										<tr>
											<th scope="row"><a href="javascript:void(0)"><img src="assets/home/images/game-icon-2.png" alt="image">Ninjax</a></th>
											<td>Eleanor Pena</td>
											<td>30320267096</td>
											<td>2.21X</td>
											<td><img src="assets/home/images/table-icon-2.png" alt="image">+ 0.00312150</td>
										</tr>
										<tr>
											<th scope="row"><a href="javascript:void(0)"><img src="assets/home/images/game-icon-3.png" alt="image">Dragons Gate</a></th>
											<td>Cody Fisher</td>
											<td>30320267096</td>
											<td>3.01X</td>
											<td><img src="assets/home/images/table-icon-3.png" alt="image">+ 0.00312150</td>
										</tr>
										<tr>
											<th scope="row"><a href="javascript:void(0)"><img src="assets/home/images/game-icon-4.png" alt="image">King of Glory</a></th>
											<td>Arlene McCoy</td>
											<td>30320267096</td>
											<td>1.11X</td>
											<td><img src="assets/home/images/table-icon-4.png" alt="image">- 0.00312150</td>
										</tr>
										<tr>
											<th scope="row"><a href="javascript:void(0)"><img src="assets/home/images/game-icon-5.png" alt="image">Dice</a></th>
											<td>Leslie Alexander</td>
											<td>30320267096</td>
											<td>0.00X</td>
											<td><img src="assets/home/images/table-icon-5.png" alt="image">+ 0.00312150</td>
										</tr>
										<tr>
											<th scope="row"><a href="javascript:void(0)"><img src="assets/home/images/game-icon-6.png" alt="image">League Of Legends</a></th>
											<td>Theresa Webb</td>
											<td>30320267096</td>
											<td>3.19X</td>
											<td><img src="assets/home/images/table-icon-6.png" alt="image">+ 0.00312150</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Available Game In end -->
<!-- Features In start -->
<section id="features-section">
	<div class="overlay pt-120 pb-120">
			<div class="container wow fadeInUp">
					<div class="row justify-content-center text-center">
							<div class="col-lg-8">
									<div class="section-header">
											<h2 class="title">ROADMAP</h2>
									</div>
							</div>
					</div>
					<div class="row">
							<div class="col-lg-4 col-md-6">
									<div class="single-item text-center">
											<div class="icon-area d-flex justify-content-center align-items-center"><img
															src="assets/home/images/features-icon-1.png" alt="image"></div>
											<h4>BETA OPENING DAY</h4>
											<p>Release our new EZ Battles 2.0 tournament platform along with our NFT token integration! Enjoy real time scoring, daily tournaments, custom wagers, crypto payouts, NFT integration and upgraded anti-cheat techniques. Players with our NFT, will gain exclusive access to daily tournaments.</p>
									</div>
							</div>
							<div class="col-lg-4 col-md-6">
									<div class="single-item text-center">
											<div class="icon-area d-flex justify-content-center align-items-center"><img
															src="assets/home/images/features-icon-2.png" alt="image"></div>
											<h4>Public release of platform</h4>
											<p>EZ Battles will go beyond beta an release to all public, with or without NFT. NFT Holders will be allowed exclusive tournaments, royalty benefits and upgraded customer service for their platform experience.</p>
									</div>
							</div>
							<div class="col-lg-4 col-md-6">
									<div class="single-item text-center">
											<div class="icon-area d-flex justify-content-center align-items-center"><img
															src="assets/home/images/features-icon-3.png" alt="image"></div>
											<h4>MONTHLY TALENT TOURNAMENTS</h4>
											<p>We will be inviting major players in the industry to participate in tournaments with our token holders. Once a month, our rare token holders (10% of tokens) will be able to participate in a tournament with their favorite streamers.</p>
									</div>
							</div>
							<div class="col-lg-4 col-md-6">
									<div class="single-item text-center">
											<div class="icon-area d-flex justify-content-center align-items-center"><img
															src="assets/home/images/features-icon-4.png" alt="image"></div>
											<h4>COMMUNITY INPUT</h4>
											<p>After our first 2 weeks live, we will host a twitter space with our partners to get community feedback on our platform and ultimately improve on our bugs, issues. We would like to host these at least once a month with token holders to continuously improve our platform.</p>
									</div>
							</div>
							<div class="col-lg-4 col-md-6">
									<div class="single-item text-center">
											<div class="icon-area d-flex justify-content-center align-items-center"><img
															src="assets/home/images/features-icon-5.png" alt="image"></div>
											<h4>EZ STORE</h4>
											<p>We are developing a fully loaded e-commerce site with our partners, to provide our players with all gaming supplies. From products like energy drinks to services like PC optimizations, you can find it at EZ Battles to improve your gaming.</p>
									</div>
							</div>
							<div class="col-lg-4 col-md-6">
									<div class="single-item text-center">
											<div class="icon-area d-flex justify-content-center align-items-center"><img
															src="assets/home/images/features-icon-6.png" alt="image"></div>
											<h4>TO BE CONTINUED</h4>
											<p>We aim to be the premier tournament platform for all gamers, not just for FPS gamers. We hope you follow us on this journey and help us improve, we are excited for what the future holds.</p>
									</div>
							</div>
					</div>
			</div>
	</div>
</section>
<!-- Features In end -->
<!-- Counter In start -->
<section id="counter-section" class="index-2">
	<div class="overlay pb-120">
		<div class="container">
			<div class="main-content">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="single-item text-center">
							<img src="assets/home/images/counter-icon-1.png" alt="image">
							<span class="count"><span class="counter">5,555</span></span>
							<h6>Total Supply</h6>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="single-item text-center">
							<img src="assets/home/images/counter-icon-2.png" alt="image">
							<span class="count"><span class="counter">0.2 ETH</span></span>
							<h6>Mint Price</h6>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="single-item text-center">
							<img src="assets/home/images/counter-icon-3.png" alt="image">
							<span class="count"><span class="counter">100</span>%</span>
							<h6>SECURE</h6>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="single-item text-center">
							<img src="assets/home/images/counter-icon-4.png" alt="image">
							<span class="count"><span class="counter">3/31/22</span>/<span
						class="counter">7</span></span>
						<h6>Mint Date</h6>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</section>
<!-- Counter In end -->
<!-- faq start -->
<section id="faq-section" class="index-2">
<div class="overlay pb-120">
	<div class="container">
		<div class="row justify-content-center text-center">
			<div class="col-lg-8">
				<div class="section-header">
					<h2 class="title">NFT COMMON QUESTIONS</h2>
					<p>Here are some answers to frequently asked questions about NFT’s. Join our Discord to talk to a rep about our NFT project.</p>
				</div>
			</div>
		</div>
		<div class="row d-flex justify-content-center">
			<div class="col-lg-5 d-flex align-items-center cus-mb">
				<div class="left-area">
					<span>
						<img src="assets/home/images/faq-left.png" alt="image">
					</span>
				</div>
			</div>
			<div class="col-lg-7 wow fadeInUp">
				<div id="accordion-one">
					<div class="card">
						<div class="card-header" id="headingOne">
							<h6 class="mb-0">
							<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
							aria-expanded="true" aria-controls="collapseOne">
							What are NFTS?
							</button>
							</h6>
						</div>
						<div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
							data-parent="#accordion-one">
							<div class="card-body">
								<p>At the most basic level, a non-fungible token is a one-of-a-kind, verifiable digital asset that can be exchanged between a creator and a buyer. The one-of-a-kind characteristic is important in distinguishing NFTs from other digital assets; one NFT is not interchangeable for another, like a dollar bill or a share of stock, but is unique and has its own value.</p>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingTwo">
							<h6 class="mb-0">
							<button class="btn btn-link collapsed" data-toggle="collapse"
							data-target="#collapseTwo" aria-expanded="false"
							aria-controls="collapseTwo">
							What makes an NFT valuable?
							</button>
							</h6>
						</div>
						<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
							data-parent="#accordion-one">
							<div class="card-body">
								<p>The value of an NFT comes from the property it represents, which is generally something that exists in the digital world like an original piece of art or digital memorabilia. The NFT itself doesn’t necessarily contain the digital property, but points to its location on the blockchain. Like a concert ticket or a deed to a physical property, an NFT reflects the value of the thing it represents.</p>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingThree">
							<h6 class="mb-0">
							<button class="btn btn-link collapsed" data-toggle="collapse"
							data-target="#collapseThree" aria-expanded="false"
							aria-controls="collapseThree">
							What’s the connection between NFTs and cryptocurrency?
							</button>
							</h6>
						</div>
						<div id="collapseThree" class="collapse" aria-labelledby="headingThree"
							data-parent="#accordion-one">
							<div class="card-body">
								<p>NFTs aren’t cryptocurrencies, but they are built using technology similar to Ethereum and Bitcoin. Also, like cryptocurrencies, NFTs exist on a blockchain, which verifies their unique identity and ownership. The blockchain also keeps a record of all the transactions connected to the NFT and the property it represents. Many NFTs are held on the Ethereum blockchain.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</section>
<!-- faq end -->
<!-- Footer Section start -->
<footer id="footer-section">
	<div class="overlay">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="footer-top pt-120" style="padding-bottom: 20px;">
						<div class="side-contant">
							<div class="left">
								<img class="bg" src="assets/home/images/footer-left-bg.png" alt="image">
								<img class="top" src="assets/home/images/footer-left-top.png" alt="image">
							</div>
							<div class="right">
								<img src="assets/home/images/footer-right.png" alt="image">
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-lg-6 col-md-6 col-sm-10">
								<div class="section-header text-center">
									<h4 class="title">Want gaming &amp; esports news straight to your inbox?</h4>
									<p>To Get Exclusive Benefits</p>
								</div>
								<form action="#">
									<div class="row" style="font-family: 'Chakra Petch', sans-serif;">
										<div class="col-md-6">
											<div class="form-group">
												<label for="Name">First Name <span style="color: red">*</span></label>
												<input type="text" class="form-control ganio-input">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label for="Name">Last Name <span style="color: red">*</span></label>
												<input type="text" class="form-control ganio-input">
												<span>second</span>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label for="Name">Email <span style="color: red">*</span></label>
												<input type="text" class="form-control ganio-input">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label for="Name">Discord Username<span style="color: red">*</span></label>
												<input type="text" class="form-control ganio-input">
											</div>
										</div>
									</div>
									<div class="form-group">
										<label for="Name">Message/Comment <span style="color: red">*</span></label>
										<textarea class="form-control ganio-input" cols="30" rows="3"></textarea>
									</div>
									<button class="cmn-btn">Submit</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom-area pt-120">
				<div class="row d-flex header-area">
					<div class="col-lg-8 col-md-8 d-flex justify-content-md-between justify-content-center align-items-center">
						<div class="logo-section">
							<a class="site-logo site-title" href="index.html"><img src="assets/home/images/ez-logo.png" alt="site-logo"></a>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 d-flex align-items-center justify-content-center justify-content-md-end">
						<div class="social-area d-flex">
							<a href="javascript:void(0)"><img src="assets/home/images/twitter.png" alt="image"></a>
							<a href="javascript:void(0)"><img src="assets/home/images/facebook.png" alt="image"></a>
							<a href="javascript:void(0)"><img src="assets/home/images/linkedin.png" alt="image"></a>
							<a href="javascript:void(0)"><img src="assets/home/images/google.png" alt="image"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="main-content">
				<div class="row d-flex justify-content-center">
					<div class="col-lg-8 col-md-8 col-sm-12 d-flex justify-content-start align-items-center justify-cen order-pro">
						<div class="left-area">
							<p>
								COPYRIGHT © EZ BATTLES, LLC 2022 | DESIGNED BY EZ BATTLES, LLC. ALL RIGHTS RESERVED.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
