#banner-section.index-2 {

	background-image: url(/assets/home/images/jungle.png);
	background-size: cover;
}

.nft-card {

	background: #4E01CE;
	right: 0;
	border-radius: 30px;
	box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.5);
	margin-bottom: 30px;

	.card-header{

		padding: 45px 70px;
		text-align: center;

		img {

			width: 100%;
		}
	}

	.card-content{

		background: #360589;
		padding: 30px;
		border-radius: 30px;
	}
}

.bottom-item {

	margin-bottom: -180px !important;
}

.bottom-item .container{

	padding: 0px;
}

.slider {

	width: 100%;
	margin: 0 auto;
	text-align: center;
	position: relative;

	.next-btn{

		position: absolute;
		top: 50%;
		right: -30px;
		transform: translate(0, -50%);
	}

	.prev-btn{

		position: absolute;
		top: 50%;
		left: -30px;
		transform: translate(0, -50%);
	}

	.slides {

		overflow: hidden;
		scroll-behavior: smooth;

		div {

			width: 25%;
			flex-shrink: 0;
			display: flex;
			align-items: center;
			padding: 10px;
		}

		div img {

			width: 100%;
			border-radius: 20px;
		}
	}
}

.mint-details {

	font-family: 'Chakra Petch', sans-serif;

	.divider {

		border-top: 5px dotted gray;
		height: 8px;
	}

	.text {

		padding: 10px;
	}

	.content {

		font-weight: bold;
	}
}

.count-down {

	text-align: center;
	margin: 20px 0;

	span {

		color: rgb(26, 255, 227);
		font-size: 44px;
		font-weight: 800;
		line-height: 44px;
		margin: 5px;
	}
}

.my-container {

	max-width: 1060px;
	margin: 0 auto;
	width: 100%;
}

@media (max-width: 575px) {

	#banner-section.index-2 {

		background-image: none;
	}

	.slider {

		.next-btn{

			right: 0;
		}

		.prev-btn{

			left: 0px;
		}

		.slides div {

			width: 100%;
		}
	}

	.my-container {

		width: 80%;
	}

	.white-paper-btn {

		width: 100%;
		text-align: center;
	}

	// .main-text {

	// 	order: 2;
	// }
}
