
<div class="home-wrapper">

	<!-- header-section start -->
	<header id="header-section" class="header-fixed">
			<div class="overlay">
					<div class="container">
							<div class="row d-flex header-area">
									<div class="logo-section flex-grow-1 d-flex align-items-center">
											<a class="site-logo site-title" href="index.html"><img src="assets/home/images/ez-logo.png"
															alt="site-logo" style="width: 180px;"></a>
									</div>
									<button class="navbar-toggler ml-auto collapsed" type="button" data-toggle="collapse"
											data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
											aria-expanded="false" aria-label="Toggle navigation">
											<i class="fas fa-bars"></i>
									</button>
									<nav class="navbar navbar-expand-lg p-0">
											<div class="navbar-collapse collapse" id="navbarSupportedContent">
													<ul class="navbar-nav main-menu ml-auto">
															<li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
															<li class="menu_has_children"><a href="#0">About</a>
																<ul class="sub-menu">
																	<li><a routerLink="our-company" routerLinkActive="active">Our mission</a></li>
																	<li><a routerLink="our-nft" routerLinkActive="active">EZ Apes NFT</a></li>
																</ul>
															</li>
															<li><a routerLink="tournaments" routerLinkActive="active">Tournament</a></li>
															<li><a (click)="goTo('footer-section')">Contact</a></li>
													</ul>
													<div *ngIf="!user" class="right-area header-action d-flex align-items-center">
															<button type="button" class="cmn-btn-alt cmn-btn" data-toggle="modal"
																	data-target="#signUpModalLong">
																	Register
															</button>
															<button type="button" (click)="openDialog()" class="cmn-btn" data-toggle="modal"
																	data-target="#signInModalLong">
																	Sign In
															</button>
													</div>
													<div *ngIf="user" class="right-area header-action d-flex align-items-center">
														<button mat-button [matMenuTriggerFor]="menu">{{ user.email }}</button>
														<mat-menu #menu="matMenu">
															<a mat-menu-item routerLink="profile" routerLinkActive="active">My profile</a>
															<a mat-menu-item routerLink="tournaments" routerLinkActive="active">Tournaments</a>
															<button mat-menu-item (click)="logout()">Logout</button>
														</mat-menu>
													</div>
											</div>
									</nav>
							</div>
					</div>
			</div>
	</header>

	<router-outlet></router-outlet>
</div>
