
<div class="home-wrapper">
	<!-- start preloader -->
	<div class="preloader" id="preloader"></div>
	<!-- end preloader -->

	<a href="javascript:void(0)" class="scrollToTop"><i class="fas fa-angle-double-up"></i></a>

	<!-- header-section start -->
	<header id="header-section">
			<div class="overlay">
					<div class="container">
							<div class="row d-flex header-area">
									<div class="logo-section flex-grow-1 d-flex align-items-center">
											<a class="site-logo site-title" href="index.html"><img src="assets/home/images/ez-logo.png"
															alt="site-logo" style="width: 180px;"></a>
									</div>
									<button class="navbar-toggler ml-auto collapsed" type="button" data-toggle="collapse"
											data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
											aria-expanded="false" aria-label="Toggle navigation">
											<i class="fas fa-bars"></i>
									</button>
									<nav class="navbar navbar-expand-lg p-0">
											<div class="navbar-collapse collapse" id="navbarSupportedContent">
													<ul class="navbar-nav main-menu ml-auto">
															<li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
															<li><a routerLink="tournaments" routerLinkActive="active">Tournaments</a></li>
													</ul>
													<div *ngIf="!user" class="right-area header-action d-flex align-items-center">
															<button type="button" class="cmn-btn-alt cmn-btn" data-toggle="modal"
																	data-target="#signUpModalLong">
																	Register
															</button>
															<button type="button" (click)="openDialog()" class="cmn-btn" data-toggle="modal"
																	data-target="#signInModalLong">
																	Sign In
															</button>
													</div>
													<div *ngIf="user" class="right-area header-action d-flex align-items-center">
														<button mat-button [matMenuTriggerFor]="menu">{{ user.email }}</button>
														<mat-menu #menu="matMenu">
															<button mat-menu-item (click)="logout()">Logout</button>
															<a mat-menu-item routerLink="profile" routerLinkActive="active">My profile</a>
														</mat-menu>
													</div>
											</div>
									</nav>
							</div>
					</div>
			</div>
	</header>

	<router-outlet></router-outlet>

	<!-- Footer Section start -->
	<footer id="footer-section">
			<div class="overlay">
					<div class="container">
							<div class="row">
									<div class="col-lg-12">
											<div class="footer-top pt-120 pb-120">
													<div class="side-contant">
															<div class="left">
																	<img class="bg" src="assets/home/images/footer-left-bg.png" alt="image">
																	<img class="bg circle" src="assets/home/images/footer-left-circle.png" alt="image">
																	<img class="top" src="assets/home/images/footer-left-top.png" alt="image">
															</div>
															<div class="right">
																	<img src="assets/home/images/footer-right.png" alt="image">
															</div>
													</div>
													<div class="row justify-content-center">
															<div class="col-lg-6 col-md-6 col-sm-10">
																	<div class="section-header text-center">
																			<h4 class="title">Want gaming &amp; esports news straight to your inbox?</h4>
																			<p>To Get Exclusive Benefits</p>
																	</div>
																	<form action="#">
																			<div class="subscribe">
																					<input type="email" placeholder="Enter Your Email Address">
																					<button class="btn">Subscribe</button>
																			</div>
																	</form>
															</div>
													</div>
											</div>
									</div>
							</div>
							<div class="bottom-area pt-120">
									<div class="row d-flex header-area">
											<div class="col-lg-8 col-md-8 d-flex justify-content-md-between justify-content-center align-items-center">
													<div class="logo-section">
															<a class="site-logo site-title" href="index.html"><img src="assets/home/images/ez-logo.png" alt="site-logo"></a>
													</div>
													<ul class="navbar-nav main-menu d-flex align-items-center">
															<li><a href="index.html" class="active">Home</a></li>
															<li><a href="games.html">Games</a></li>
															<li><a href="tournaments.html">Tournaments</a></li>
													</ul>
											</div>
											<div class="col-lg-4 col-md-4 d-flex align-items-center justify-content-center justify-content-md-end">
													<div class="social-area d-flex">
															<a href="javascript:void(0)"><img src="assets/home/images/twitter.png" alt="image"></a>
															<a href="javascript:void(0)"><img src="assets/home/images/facebook.png" alt="image"></a>
															<a href="javascript:void(0)"><img src="assets/home/images/linkedin.png" alt="image"></a>
															<a href="javascript:void(0)"><img src="assets/home/images/google.png" alt="image"></a>
													</div>
											</div>
									</div>
							</div>
					</div>
			</div>
			<div class="footer-bottom">
					<div class="container">
							<div class="main-content">
									<div class="row d-flex justify-content-center">
											<div class="col-lg-8 col-md-8 col-sm-12 d-flex justify-content-start align-items-center justify-cen order-pro">
													<div class="left-area">
															<p>Copyright © Gainio | Designed by
																	<a href="https://themeforest.net/user/pixelaxis">Pixelasis</a>. ALL RIGHTS RESERVED
															</p>
													</div>
											</div>
									</div>
							</div>
					</div>
			</div>
	</footer>
</div>
