<!-- inner banner start -->
<section id="banner-section" class="inner-banner games tournaments">
	<div class="banner-content d-flex align-items-center">
		<div class="container">
			<img src="assets/home/images/tour-left-banner.png" class="banner-left" alt="image">
			<img src="assets/home/images/tour-right-banner.png" class="banner-right" alt="image">
			<div class="row d-flex justify-content-start">
				<div class="col-lg-12">
					<img src="assets/home/images/tour-right-illu.png" class="banner-right-illu" alt="image">
					<div class="text-area">
						<h1>Tournaments</h1>
						<div class="breadcrumb-area">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb d-flex">
									<li class="breadcrumb-item"><a href="index.html">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Tournaments</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- banner-section end -->
<!-- Tournaments Games In start -->
<section id="tournaments-games">
	<div class="overlay pt-120 pb-120">
		<div class="container wow fadeInUp">
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-9 col-sm-8">
					<div class="section-header text-center">
						<h2 class="title">Tournaments <span>games</span></h2>
						<p>Play in multi-player tournaments or head to head for cash prizes.</p>
					</div>
				</div>
			</div>
			<div class="menu-bar">
				<div class="row justify-content-between">
					<div class="col-lg-5 col-md-5">
						<form action="#">
							<div class="input-area d-flex">
								<div class="icon d-flex align-items-center"><img src="assets/home/images/search-icon.png"
								alt="image"></div>
								<input type="text" placeholder="What’s your game?">
							</div>
						</form>
					</div>
					<div class="col-lg-7 col-md-7 d-flex justify-content-center justify-content-md-end">
						<ul class="nav nav-tabs" id="myTab" role="tablist">
							<li class="nav-item">
								<a class="cmn-btn-alt cmn-btn active" id="all-tab" data-toggle="tab" href="#all"
								role="tab" aria-controls="all" aria-selected="true">All</a>
							</li>
							<li class="nav-item">
								<a class="cmn-btn-alt cmn-btn" id="today-tab" data-toggle="tab" href="#today"
								role="tab" aria-controls="today" aria-selected="false">Today</a>
							</li>
							<li class="nav-item">
								<a class="cmn-btn-alt cmn-btn" id="thisweek-tab" data-toggle="tab" href="#thisweek"
								role="tab" aria-controls="thisweek" aria-selected="false">This Week</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
					<div class="row mb-cus">
						<div class="col-lg-3 col-md-3 col-sm-4">
							<select>
								<option>Upcoming</option>
								<option>Upcoming 2</option>
								<option>Upcoming 3</option>
								<option>Upcoming 4</option>
							</select>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-4">
							<select>
								<option>Select Team Size</option>
								<option>1</option>
								<option>2</option>
								<option>3</option>
							</select>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-4">
							<select>
								<option>Select Entry Fee</option>
								<option>1</option>
								<option>2</option>
								<option>3</option>
							</select>
						</div>
						<div class="col-lg-3 col-md-2 d-flex align-items-center justify-content-end md-none">
							<i class="fas fa-th grid-btn active"></i>
							<i class="fas fa-list list-btn"></i>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="all-items">
								<div class="single-item">
									<div class="content-area">
										<img src="assets/home/images/tournaments-games-1.png" alt="image">
										<div class="grid-style">
											<h5 class="head-area">Tournament 1</h5>
											<div class="prize d-flex justify-content-center">
												<img src="assets/home/images/prize-icon.png" alt="image">
												<h5>€6,000</h5>
											</div>
											<p class="bet">Min. bet <span>€0.20</span></p>
											<button type="button" class="cmn-btn-second">Register</button>
											<p class="end-on">Will end on: <span>08-07-2022</span></p>
										</div>
									</div>
								</div>
								<div class="single-item">
									<div class="content-area">
										<img src="assets/home/images/tournaments-games-1.png" alt="image">
										<div class="grid-style">
											<h5 class="head-area">Tournament 2</h5>
											<div class="prize d-flex justify-content-center">
												<img src="assets/home/images/prize-icon.png" alt="image">
												<h5>€6,000</h5>
											</div>
											<p class="bet">Min. bet <span>€0.20</span></p>
											<button type="button" class="cmn-btn-second">Register</button>
											<p class="end-on">Will end on: <span>08-07-2022</span></p>
										</div>
									</div>
								</div>
								<div class="single-item">
									<div class="content-area">
										<img src="assets/home/images/tournaments-games-1.png" alt="image">
										<div class="grid-style">
											<h5 class="head-area">Tournament 3</h5>
											<div class="prize d-flex justify-content-center">
												<img src="assets/home/images/prize-icon.png" alt="image">
												<h5>€6,000</h5>
											</div>
											<p class="bet">Min. bet <span>€0.20</span></p>
											<button type="button" class="cmn-btn-second">Register</button>
											<p class="end-on">Will end on: <span>08-07-2022</span></p>
										</div>
									</div>
								</div>
								<div class="single-item">
									<div class="content-area">
										<img src="assets/home/images/tournaments-games-1.png" alt="image">
										<div class="grid-style">
											<h5 class="head-area">Tournament 4</h5>
											<div class="prize d-flex justify-content-center">
												<img src="assets/home/images/prize-icon.png" alt="image">
												<h5>€6,000</h5>
											</div>
											<p class="bet">Min. bet <span>€0.20</span></p>
											<button type="button" class="cmn-btn-second">Register</button>
											<p class="end-on">Will end on: <span>08-07-2022</span></p>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12 d-flex justify-content-center">
									<a href="javascript:void(0)" class="cmn-btn-second">View More</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Tournaments Game In end -->
