<section id="tournaments-games">
	<div class="overlay wrapper" style="padding-bottom: 320px">
		<div class="container wow fadeInUp">
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-9 col-sm-8">
					<div class="section-header text-center">
						<h2 class="title">Tournaments <span>BETA</span></h2>
						<p>Sign up for a tournament below and compete for cash prizes and credits</p>
					</div>
				</div>
			</div>
			<button (click)="openFilters()" type="button" class="cmn-btn-alt cmn-btn next-btn filters">
				Filter<img src="assets/home/images/double-right.png" alt="image">
			</button>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
					<div class="row">
						<div class="col-lg-12">
							<div class="all-items">
								<div class="single-item">
									<div class="content-area">
										<img src="assets/home/images/tournaments-games-2.png" alt="image">
										<div class="grid-style">
											<h5 class="head-area">BR DUOS Rebirth Duos</h5>
											<div class="prize d-flex justify-content-center">
												<img src="assets/home/images/prize-icon.png" alt="image">
												<h5>$350/DIVISION</h5>
											</div>
											<p class="bet">Entry/Player <span>$15</span></p>
											<button type="button" class="cmn-btn-second" (click)="openComingSoon()">Register</button>
											<p class="end-on">Will begin on: <span>03-25-2022</span></p>
											<app-count-down date="2022-03-25"></app-count-down>
										</div>
									</div>
								</div>
								<div class="single-item">
									<div class="content-area">
										<img src="assets/home/images/tournaments-games-3.png" alt="image">
										<div class="grid-style">
											<h5 class="head-area">BR TRIOS Rebirth TRIOS</h5>
											<div class="prize d-flex justify-content-center">
												<img src="assets/home/images/prize-icon.png" alt="image">
												<h5>$575/DIVISION</h5>
											</div>
											<p class="bet">Entry/Player <span>$20</span></p>
											<button type="button" class="cmn-btn-second" (click)="openComingSoon()">Register</button>
											<p class="end-on">Will begin on: <span>03-26-2022</span></p>
											<app-count-down date="2022-03-26"></app-count-down>
										</div>
									</div>
								</div>
								<div class="single-item">
									<div class="content-area">
										<img src="assets/home/images/tournaments-games-4.png" alt="image">
										<div class="grid-style">
											<h5 class="head-area">BR QUADS Rebirth Quads</h5>
											<div class="prize d-flex justify-content-center">
												<img src="assets/home/images/prize-icon.png" alt="image">
												<h5>$30/DIVISION</h5>
											</div>
											<p class="bet">Entry/Player <span>FREE</span></p>
											<button type="button" class="cmn-btn-second" (click)="openComingSoon()">Register</button>
											<p class="end-on">Will end on: <span>03-27-2022</span></p>
											<app-count-down date="2022-03-27"></app-count-down>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Tournaments Game In end -->
<footer id="footer-section" style="margin-top: 0">
	<div class="overlay">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="footer-top pt-120" style="padding-top: 40px; padding-bottom: 40px; background-image: url('assets/home/images/background.png'); position: relative; overflow: hidden;">
						<img class="footer-image" src="assets/home/images/footer-left-top.png" alt="" style="position: absolute; bottom: 0; left: 0; height: 90%;">
						<img class="footer-image" src="assets/home/images/footer-right-top.png" alt="" style="position: absolute; bottom: 0; right: 0; height: 90%;">
						<div class="row justify-content-center">
							<div class="col-lg-6 col-md-6 col-sm-10">
								<div class="section-header text-center">
									<h2 class="title" style="color: #42F8FF">CONTACT US</h2>
									<p>Feel free to send us a message about an issue or simply comment/suggest something!</p>
								</div>
								<form action="#" style="color: white;">
									<div class="row" style="font-family: 'Chakra Petch', sans-serif;">
										<div class="col-md-6">
											<div class="form-group">
												<label for="Name">First Name <span style="color: red">*</span></label>
												<input type="text" class="form-control ganio-input">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label for="Name">Last Name <span style="color: red">*</span></label>
												<input type="text" class="form-control ganio-input">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label for="Name">Email <span style="color: red">*</span></label>
												<input type="text" class="form-control ganio-input">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label for="Name">Discord Username</label>
												<input type="text" class="form-control ganio-input">
											</div>
										</div>
									</div>
									<div class="form-group">
										<label for="Name">Message/Content <span style="color: red">*</span></label>
										<textarea class="form-control ganio-input" cols="30" rows="3"></textarea>
									</div>
									<button class="cmn-btn">Submit</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom-area pt-120">
				<div style="text-align: center;">
					<div class="logo-section">
						<a class="site-logo site-title" href="index.html"><img src="assets/home/images/ez-logo.png" alt="site-logo"></a>
					</div>
					<div class="social-area d-flex" style="margin-top: 20px; justify-content: center;">
						<a href="https://twitter.com/ezbattles"><img src="assets/home/images/social-bg1.png" alt="image"></a>
						<a href="https://www.instagram.com/ezbattles/"><img src="assets/home/images/social-bg2.png" alt="image"></a>
						<a href="https://discord.gg/GmyGB6RKUZ"><img src="assets/home/images/social-bg3.png" alt="image"></a>
						<a href="https://www.facebook.com/ezbattlesusa"><img src="assets/home/images/social-bg4.png" alt="image"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="main-content">
				<div class="row d-flex justify-content-center">
					<div class="col-lg-8 col-md-8 col-sm-12 d-flex justify-content-start align-items-center justify-cen order-pro">
						<div class="left-area">
							<p>
								COPYRIGHT © EZ BATTLES, LLC 2022 | DESIGNED BY EZ BATTLES, LLC. ALL RIGHTS RESERVED.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
