<div class="card">
	<div class="card-header">
		<h3 class="title">Forgot password?</h3>
		<p class="sub-title">No worries. Enter the email associated with your account and we'll send an email with instructions to reset it.</p>
		<ul *ngFor="let input of errors | keyvalue">
			<li>{{ input.key }}</li>
			<ul *ngFor="let error of $any(input).value">
				<li>{{ error }}</li>
			</ul>
		</ul>
	</div>
	<div class="card-content">
		<form [formGroup]="forgotPassForm" (submit)="submit()" autocomplete="off">
			<div class="form-group">
				<label for="email">Email</label>
				<input type="text" class="form-control" formControlName="email" placeholder="Registered Email Address." id="email">
				<div *ngIf="email.invalid && (email.dirty || email.touched)" class="error-list">
				  <div *ngIf="email.errors?.['required']">
				    email is required.
				  </div>
				  <div *ngIf="email.errors?.['email']">
				    email is invalid.
				  </div>
				</div>
			</div>
			<div class="form-group" style="text-align: center;">
				<button type="submit" class="cmn-btn cmn-btn-alt">Submit</button>
			</div>
			<span>{{ message }}</span>
		</form>
	</div>
</div>

