<div class="card">
	<div class="card-header">
		<img src="assets/home/images/ez-logo.png" class="card-logo" alt="">
	</div>
	<div class="card-content mat-typography">
		<h5 style="text-align: center;">REGISTER</h5>

		<div class="form-group">
			<label for="team-name">Team name</label>
			<input type="text" id="team-name" class="form-control">
		</div>

		<div class="form-group">
			<label for="team-players">Team players</label>
			<input type="text" id="team-players" class="form-control">
			<div class="team-players-list">
				<ul>
					<li>Player 1</li>
					<li>Player 2</li>
					<li>Player 3</li>
					<li>Player 4</li>
					<li>Player 1</li>
					<li>Player 2</li>
					<li>Player 3</li>
					<li>Player 4</li>
				</ul>
			</div>
		</div>

		<div class="players-sub">
			<div class="item">
				<span>Player 1</span>
				<button class="btn btn-danger">X</button>
			</div>
			<div class="item">
				<span>Player 1</span>
				<button class="btn btn-danger">X</button>
			</div>
			<div class="item">
				<span>Player 1</span>
				<button class="btn btn-danger">X</button>
			</div>
			<div class="item">
				<span>Player 1</span>
				<button class="btn btn-danger">X</button>
			</div>
			<div class="item">
				<span>Player 1</span>
				<button class="btn btn-danger">X</button>
			</div>
			<div class="item">
				<span>Player 1</span>
				<button class="btn btn-danger">X</button>
			</div>
			<div class="item">
				<span>Player 1</span>
				<button class="btn btn-danger">X</button>
			</div>
			<div class="item">
				<span>Player 1</span>
				<button class="btn btn-danger">X</button>
			</div>
			<div class="item">
				<span>Player 1</span>
				<button class="btn btn-danger">X</button>
			</div>
		</div>

		<a href="https://discord.com/invite/GmyGB6RKUZ" style="margin: 40px 0; width: 100%; text-align: center;" type="submit" class="cmn-btn cmn-btn-alt">JOIN DISCORD</a>

		<p style="text-align: center;">MEANWHILE FOLLOW US ON ALL SOCIALS</p>
		<div fxLayout="row" fxLayoutAlign="space-evenly center">
			<a href="https://twitter.com/ezbattles"><img src="assets/home/images/social-bg1.png" alt="image"></a>
			<a href="https://www.instagram.com/ezbattles/"><img src="assets/home/images/social-bg2.png" alt="image"></a>
			<a href="https://discord.gg/GmyGB6RKUZ"><img src="assets/home/images/social-bg3.png" alt="image"></a>
			<a href="https://www.facebook.com/ezbattlesusa"><img src="assets/home/images/social-bg4.png" alt="image"></a>
		</div>
	</div>
</div>

