<div class="card">
	<div class="card-content mat-typography">
		<h5 style="text-align: center;">REGISTER TEAM</h5>
		<p style="text-align: center;">{{ tournament.name }}</p>

		<ul class="error-list" *ngFor="let input of errors | keyvalue">
			<li>{{ input.key }}</li>
			<ul *ngFor="let error of $any(input).value">
				<li>{{ error }}</li>
			</ul>
		</ul>

		<form [formGroup]="teamForm" id="team-form" (submit)="save()">
			<div class="form-group">
				<label for="team-name">Team name</label>
				<input type="text" formControlName="name" id="team-name" class="form-control">
				<div *ngIf="name.invalid && (name.dirty || name.touched)" class="error-list">
				  <div *ngIf="name.errors?.['required']">
				    name is required.
				  </div>
				  <div *ngIf="name.errors?.['minlength']">
				    name must be at least 4 characters long.
				  </div>
				</div>
			</div>
		</form>

		<form [formGroup]="searchForm" *ngIf="tournament.num_players > 1">
			<div class="form-group">
				<label for="team-players">Teammate's email</label>
				<div fxLayout="row">
					<input type="text" formControlName="email" (input)="searchUser()" id="team-players" class="form-control">
					<button class="btn btn-success" (click)="addNewPlayer()" type="button">+</button>
				</div>
				<div class="team-players-list">
					<ul>
						<li *ngFor="let user of usersQuery; index as i" (click)="addPlayer(i)">{{ user.email }}</li>
					</ul>
				</div>
			</div>
		</form>

		<div class="players-sub">
			<div *ngFor="let player of players.value; index as i" class="item">
				<span>{{ player.email }}</span>
				<button class="btn btn-danger" (click)="dropPlayer(i)">
					<mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
				</button>
			</div>
		</div>

		<div *ngIf="tournament.entry">
		  <ng-container *ngIf="elementsOptions?.clientSecret as clientSecret">
		    <ngx-stripe-payment [clientSecret]="clientSecret">
		    </ngx-stripe-payment>
		  </ng-container>
		</div>

		<button type="submit" form="team-form" style="margin: 40px 0; width: 100%; text-align: center;" type="submit" class="cmn-btn cmn-btn-alt">Register</button>
	</div>
</div>

