.card {

	background: #4E01CE;

	.card-header {

		text-align: center;

		img {

			margin: 40px 0;
		}

		.title {

			width: 35%;
			margin: 40px auto;
		}

		.sub-title {

			text-align: center;
		}
	}

	.card-content {

		color: white;
		border-radius: 30px;
		padding: 30px;
		background: #360589;

		.form-group input {

			border: 1px solid #47399B;
			background: #350981;
		}
	}
}

.team-players-list {

	margin-top: 10px;
	background: #4E01CE;
	max-height: 200px;
	overflow: auto;
	font-weight: bold;
	font-size: 14px;
	border-radius: 15px;

	li {

		padding: 10px 15px;
	}

	li:hover {

		cursor: pointer;
		background: #360589;
	}
}

.error-list{

	color: red;
	margin-top: 5px;

	li {

		color: red;
		font-size: 14px;
	}
}

.players-sub {

	padding: 10px 0;

	.item {

		margin-top: 10px;
		margin-right: 10px;

		button {

			margin-left: 5px;
			float: right;
		}

		span {

			background: #4E01CE;
			border-radius: 5px;
			padding: 10px
		}
	}
}
