<mat-card class="example-card">
	<mat-card-header>
		<mat-card-title>Tournaments</mat-card-title>
	</mat-card-header>
	<mat-card-content fxLayout="row">
		<table fxFlex class="table mat-elevation-z8">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Teams</th>
					<th>Start</th>
					<th>End</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let tournament of dataSource; let i = index;">
					<td>{{ tournament.id }}</td>
					<td>{{ tournament.name }}</td>
					<td>{{ getTournamentTeams(tournament) }}</td>
					<td>{{ tournament.start }}</td>
					<td>{{ tournament.end }}</td>
					<td>
						<button type="button" mat-button color="warn" (click)="delTournament(i)">Delete</button>
						<button type="button" mat-button color="secondary" (click)="editTournament(i)">Edit</button>
					</td>
				</tr>
			</tbody>
		</table>
	</mat-card-content>
	<mat-card-actions>
		<button mat-button color="primary" (click)="createTournament()">Add</button>
	</mat-card-actions>
</mat-card>
