<!-- inner banner start -->
<section id="banner-section" class="inner-banner games about">
	<div class="banner-content d-flex align-items-center">
		<div class="container">
			<img src="assets/home/images/about-right.png" class="banner-side" alt="image">
			<div class="row d-flex justify-content-start">
				<div class="col-lg-12">
					<div class="text-area">
						<h1>OUR MISSION</h1>
					</div>
				</div>
				<div class="banner-bottom about">
					<div class="overlay">
						<div class="container wow fadeInUp">
							<div class="main-content">
								<img src="assets/home/images/about-bottom-illu.png" class="ban-img" alt="image">
								<div class="item-area">
									<div class="row justify-content-center d-flex">
										<div class="col-lg-10 content-item d-flex">
											<div class="col">
												<div class="single-item text-center">
													<h2>$120K</h2>
													<p>We've awarded in 2020</p>
												</div>
											</div>
											<div class="col">
												<div class="single-item text-center">
													<h2>8,000+</h2>
													<p>Users have played with EZ Battles</p>
												</div>
											</div>
											<div class="col">
												<div class="single-item mb-cus text-center">
													<h2>2020</h2>
													<p>EZ Battles was born for gamers</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- banner-section end -->
<!-- Story behind gainio In start -->
<section id="story-behind-gainio" class="about">
	<div class="overlay pt-120 pb-120">
		<div class="container wow fadeInUp">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<h2 class="title">THE EZ TEAM'S MISSION</h2>
					<p>EZ Battles aims to bring groundbreaking gaming tournaments to industry. Trustworthy, reliable competitive events that will bring gamers a path to make income doing what they love the most. Daily updates and fresh interfaces will bring the best user experience in the industry, and that’s our company’s objective.</p>
					<div class="btn-area d-flex justify-content-center">
						<a href="javascript:void(0)" class="cmn-btn cmn-btn-alt">Join our team</a>
						<a href="javascript:void(0)" class="cmn-btn-second">Read More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Story behind gainio In end -->
<!-- Leading brand In start -->
<section id="leading-brand" class="about" style="background: #00003E">
	<div class="overlay pt-120 pb-120">
		<img src="assets/home/images/leading-brand-Illu.png" class="bg-right" alt="image">
		<div class="container wow fadeInUp">
			<div class="row">
				<div class="col-lg-8">
					<div class="section-header">
						<h2 class="title">THE LEADING BRAND IN COMPETITIVE GAMING</h2>
						<p>EZ Battles has generated a robust platform to enhance the competitive gaming scene. While dedicating it’s time to creating a fun place to improve your gaming abilities, it has also attracted the attention of many competitive streamers to wager and earn on its software, leading it to become an epicenter for gamers.</p>
					</div>
					<div class="row mb-30-none">
						<div class="col-lg-6 col-md-6">
							<div class="single-item d-flex align-items-center">
								<div class="left-side">
									<div class="img-area">
										<img src="assets/home/images/leading-icon-1.png" alt="image">
									</div>
								</div>
								<div class="text-area">
									<h5>CROSS PLATFORM</h5>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6">
							<div class="single-item d-flex align-items-center">
								<div class="left-side">
									<div class="img-area">
										<img src="assets/home/images/leading-icon-2.png" alt="image">
									</div>
								</div>
								<div class="text-area">
									<h5>EASY USER ACCESS</h5>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6">
							<div class="single-item d-flex align-items-center">
								<div class="left-side">
									<div class="img-area">
										<img src="assets/home/images/leading-icon-3.png" alt="image">
									</div>
								</div>
								<div class="text-area">
									<h5>SECURITY</h5>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6">
							<div class="single-item d-flex align-items-center">
								<div class="left-side">
									<div class="img-area">
										<img src="assets/home/images/leading-icon-4.png" alt="image">
									</div>
								</div>
								<div class="text-area">
									<h5>FAST, EZ PAYOUTS</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Leading brand In end -->

<!-- Footer Section start -->
<footer id="footer-section">
	<div class="overlay">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="footer-top pt-120 pb-120">
						<div class="side-contant">
							<div class="left">
								<img class="bg" src="assets/home/images/footer-left-bg.png" alt="image">
								<img class="bg circle" src="assets/home/images/footer-left-circle.png" alt="image">
								<img class="top" src="assets/home/images/footer-left-top-2.png" alt="image">
							</div>
							<div class="right">
								<img src="assets/home/images/footer-right-2.png" alt="image">
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-lg-6 col-md-6 col-sm-10">
								<div class="section-header text-center">
									<h4 class="title">Stay up to date on our latest updates and much more by joining our Discord</h4>
									<p>Be part of a game changing movement</p>
								</div>
								<a _ngcontent-bch-c49="" style="width: 100%; text-align: center;" href="https://discord.gg/GmyGB6RKUZ" class="cmn-btn-alt cmn-btn">JOIN DISCORD <img _ngcontent-bch-c49="" src="assets/home/images/double-right.png" alt="image"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom-area pt-120">
				<div class="row d-flex header-area">
					<div class="col-lg-8 col-md-8 d-flex justify-content-md-between justify-content-center align-items-center">
						<div class="logo-section">
							<a class="site-logo site-title" href="index.html"><img src="assets/home/images/logo.png" alt="site-logo"></a>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 d-flex align-items-center justify-content-center justify-content-md-end">
						<div class="social-area d-flex">
							<a href="javascript:void(0)"><img src="assets/home/images/twitter.png" alt="image"></a>
							<a href="javascript:void(0)"><img src="assets/home/images/facebook.png" alt="image"></a>
							<a href="javascript:void(0)"><img src="assets/home/images/linkedin.png" alt="image"></a>
							<a href="javascript:void(0)"><img src="assets/home/images/google.png" alt="image"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="main-content">
				<div class="row d-flex justify-content-center">
					<div class="col-lg-8 col-md-8 col-sm-12 d-flex justify-content-start align-items-center justify-cen order-pro">
						<div class="left-area">
							<p>COPYRIGHT © EZ BATTLES, LLC 2022 | DESIGNED BY EZ BATTLES, LLC. ALL RIGHTS RESERVED.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- footer-section end -->
